<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html lang="en">
<head>
<meta content="text/html; charset=mycharset" http-equiv="Content-Type" />
<meta content="value2" name="key2" />
<meta content="value1" name="key1" />
<link media="all" href="css1" type="text/css" rel="stylesheet" />
<link media="all" href="css2" type="text/css" rel="stylesheet" />
<title>title</title>
<script src="src" type="text/type"></script>
</head>
<body keyb="valueb" keya="valuea">
some header text
some footer text
</body>
</html>

<!-- Reference: p.init(lang='en', css=['css1', 'css2'],
     metainfo={'key1':'value1', 'key2':'value2'},
     bodyattrs={'keya':'valuea', 'keyb':'valueb'},
     script={'src':'type'}, title='title',
     header='some header text', footer='some footer text',
     charset='mycharset')-->
