argparse
blinker
configobj
docutils
feedgenerator
Flask
html2rest
ipython
Jinja2
MarkupSafe
mock
nose
pelican
Pygments
python-dateutil
pytz
six
smartypants
Sphinx
typogrify
Unidecode
Werkzeug
wsgiref
configobj==4.7.2
Flask==0.9
Jinja2==2.6
Pygments==1.6rc1
Sphinx==1.0.7
Werkzeug==0.8.3
docutils==0.10
html2rest==0.2.1
ipython==0.13.1
mock==1.0.0
nose==1.1.2
wsgiref==0.1.2
